<?xml version="1.0" ?>
<model>
    <name>area_of_interest</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Mickey Li</name>
        <email>mickey.li@bristol.ac.uk</email>
    </author>
    <description>Very simple target landing zone. Land on the yellow, avoid the red dots!</description>
</model>
